<mat-card class="mat-mdc-card mdc-card cardWithShadow mat-mdc-card-outlined">
<div class="p-24"><mat-card-title class="mat-mdc-card-title m-b-0">{{ 'System Information' | transloco }}</mat-card-title></div>
<mat-card-content class="b-t-1 p-y-24">
<div class="mat-elevation-z8">

   <mat-table class="full-width-table" [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef class="column-name">Name</mat-header-cell>
                      <mat-cell *matCellDef="let element" matTooltip="{{ element.name | transloco }}" class="column-name">{{ element.name | transloco }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="value">
                      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
                      <mat-cell *matCellDef="let element">

        <ng-container *ngIf="element.value.type === 'text'">
          {{ element.value.value }} {{ element.value.text }}
        </ng-container>
        <ng-container *ngIf="element.value.type === 'progress'">
          <mat-progress-bar
            mode="determinate"
            [value]="element.value.value"
          ></mat-progress-bar>
          <div> {{ element.value.text }} </div>
        </ng-container>
        <ng-container  *ngIf="element.value.type === 'relativeTime'">
                {{ element.value.value | localeDate:'relative':true }}
        </ng-container>
        <ng-container *ngIf="element.value.type === 'localeDateTime'">
                {{ element.value.value | localeDate:'datetime' }}
        </ng-container>

                      </mat-cell>
            </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>

</div>
</mat-card-content>
</mat-card>
