<a mat-list-item (click)="onItemSelected(item)" [ngClass]="{
    activeMenu: item.url ? router.isActive(item.url, true) : false,
    active: item.active,
    expanded: expanded,
  }" [style]="item.children ? '':'margin-left: 10px;'" class="menu-list-item">
  <i-tabler class="routeIcon" name="{{ item.icon | mapIconTablerEnum }}" matListItemIcon></i-tabler>
  <span class="hide-menu">{{ item.text | transloco }}</span>
  
  @if(item.children && item.children.length) {
  <span class="arrow-icon" fxFlex>
    <mat-icon [style.transform]="expanded ? '':'rotate(90deg)'">expand_more</mat-icon>
    <span fxFlex></span>
  </span>
  }
</a>

@if(expanded) {
<omv-navigation-bar-list-item *ngFor="let child of item.children" [item]="child" (click)="onSubItemSelected(child)" [depth]="depth + 1">
</omv-navigation-bar-list-item>
}
