@use 'sass:color';
@use 'scss/defaults/colors' as dc;

:host {
  .background {
    content: url('~/assets/images/shutdown.jpg');
    object-fit: cover;
  }

  .topbar {
    background-color: hsla(
      color.channel(dc.$omv-color-corporate-default, "hue", $space: hsl),
      color.channel(dc.$omv-color-corporate-default, "saturation", $space: hsl),
      color.channel(dc.$omv-color-corporate-default, "lightness", $space: hsl),
      54%
    );
    backdrop-filter: blur(4px);

    .logo {
      content: url('~/assets/images/openmediavault_logo.svg');
      width: auto;
      height: auto;
    }
  }

  .icon,
  .icon-background {
    width: 4rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon-background {
    width: 5rem;
    height: 5rem;
  }
}
