@use 'scss/theme';

.omv-progress-bar {

  .omv-progress-bar-text {
    white-space: nowrap;
    overflow: hidden;
  }

  .omv-progress-bar-fill {
    @include theme.background-color-pair('green');

    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .omv-progress-bar-fill.warning {
    @include theme.background-color-pair('error');
  }

  .mat-mdc-progress-bar {
   --mdc-linear-progress-track-height: 15px;
   --mdc-linear-progress-active-indicator-height: 15px;
  }


  #filesystem_size {
    margin-top: -15px;
    font-size: 12px;
    display: flex;
    color: #121212 !important;
    position: relative;
    z-index: 999;
    justify-content: center;
  }

}
