<mat-toolbar class="header ps-24 pe-24">

      <button type="button" class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" aria-label="Toggle sidenav" mat-icon-button (click)="onToggleNavigation($event)"
        matTooltip="{{ 'Show/Hide navigation' | transloco }}">
        <mat-icon svgIcon="{{ icon.menu }}"></mat-icon>
      </button>
      <span class="hostname">{{ hostname }}</span>
      <mat-divider *ngIf="hostname"
               vertical="true">
      </mat-divider>
      <span class="flex-1-auto"></span>

<i-tabler name="brand-github" class="someclass"></i-tabler>

<button mat-icon-button mat-button [matMenuTriggerFor]="language" class="mat-mdc-menu-trigger m-r-5 mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-centered aria-haspopup="menu" aria-expanded="false">
<img class="rounded-circle object-cover icon-20" src="/assets/flags/{{ currentLocale }}.svg">
</button>
<mat-menu #language="matMenu" class="mat-mdc-menu-panel cardWithShadow mat-menu-after mat-menu-below">
    <ng-template matMenuContent>
      <button *ngFor="let locale of locales | keyvalue"
              mat-menu-item
              [ngClass]="{'active': locale.key === currentLocale}"
              [disabled]="locale.key === currentLocale"
              (click)="onLocale(locale.key)">
              <div class="d-flex align-items-center"><img class="rounded-circle object-cover m-r-8 icon-20" src="/assets/flags/{{ locale.key }}.svg"><span class="f-s-14">{{ locale.value }}</span></div>
      </button>
    </ng-template>
</mat-menu>

<button mat-icon-button aria-label="lightdark" class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" mat-ripple-loader-class-name="mat-mdc-button-ripple" 
 [ngClass]="{'active': darkModeEnabled}"
 (click)="onToggleDarkMode()"
 mat-ripple-loader-centered>
<i-tabler [name]="darkModeEnabled ? 'sun-low' : 'moon'"></i-tabler>
</button>

      <button *ngIf="permissions?.role.includes(roles.admin)"
      mat-icon-button 
      class="mat-mdc-menu-trigger m-x-5 mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" 
      mat-ripple-loader-class-name="mat-mdc-button-ripple" 
      mat-ripple-loader-centered
      aria-haspopup="menu" aria-expanded="false" [matMenuTriggerFor]="noti">
              <i-tabler name="{{ icontabler.notification }}" [matBadge]="numNotifications"
              [matBadgeHidden]="!numNotifications"
              matBadgeColor="accent"
              matBadgeOverlap="true"
              matBadgeSize="medium"></i-tabler>         
     </button>


<mat-menu #noti class="cardWithShadow topbar-dd" [hasBackdrop]="false">
<div class="mat-mdc-menu-content">
 <div class="d-flex align-items-center p-x-32 p-y-16">
   <h6 class="f-s-16 f-w-600 m-0">{{ 'Notifications' | transloco }}</h6>
   <span class="m-l-auto">
    <span class="bg-primary text-white p-x-8 p-y-4 f-w-500 rounded f-s-12">{{ numNotifications }}</span>
   </span>
 </div>
   <omv-notification-bar (click)="$event.stopPropagation();"></omv-notification-bar>
</div>
</mat-menu>

<button mat-icon-button
          class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
          matTooltip="{{ 'Help' | transloco }}"
          [matMenuTriggerFor]="helpMenu">
    <i-tabler name="{{ icontabler.help }}"></i-tabler>
  </button>
  <button mat-icon-button
          class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
          matTooltip="{{ 'User Settings' | transloco }}"
          [matMenuTriggerFor]="settingsMenu">
    <i-tabler name="{{ icontabler.user }}"></i-tabler>
  </button>
  <button *ngIf="permissions?.role.includes(roles.admin)"
          mat-icon-button
          class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
          matTooltip="{{ 'Power' | transloco }}"
          [matMenuTriggerFor]="powerMenu">
    <i-tabler name="{{ icontabler.power }}"></i-tabler>
  </button>

  <mat-menu #settingsMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item
              disabled>
        <i-tabler name="{{ icontabler.user }}"></i-tabler>
        <span [innerHTML]="loggedInAs | transloco | sanitizeHtml"></span>
      </button>
      <button *ngIf="permissions?.role.includes(roles.user)"
              mat-menu-item
              routerLink="/usermgmt/profile">
        <mat-icon svgIcon="mdi:account-details"></mat-icon>
        <span>{{ 'Your profile' | transloco }}</span>
      </button>
      <button mat-menu-item
              routerLink="/usermgmt/change-password">
        <i-tabler name="{{ icontabler.password }}"></i-tabler>
        <span>{{ 'Change Password' | transloco }}</span>
      </button>
      <button mat-menu-item
              (click)="onLogout()">
        <i-tabler name="{{ icontabler.logout }}"></i-tabler>
        <span>{{ 'Logout' | transloco }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item
              [matMenuTriggerFor]="localeMenu">
        <i-tabler name="{{ icontabler.language }}"></i-tabler>
        <span>{{ 'Language' | transloco }}</span>
      </button>
      <button mat-menu-item
              routerLink="/dashboard/settings">
        <i-tabler name="{{ icontabler.apps }}"></i-tabler>
        <span>{{ 'Dashboard' | transloco }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item
              (click)="onClearStateStorage()">
        <i-tabler name="{{ icontabler.reset }}"></i-tabler>
        <span>{{ 'Reset UI to defaults' | transloco }}</span>
      </button>
    </ng-template>
  </mat-menu>

  <mat-menu #powerMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item
              (click)="onReboot()">
        <i-tabler name="{{ icontabler.reboot }}"></i-tabler>
        <span>{{ 'Reboot' | transloco }}</span>
      </button>
      <button mat-menu-item
              (click)="onStandby()">
        <i-tabler name="{{ icontabler.standby }}"></i-tabler>
        <span>{{ 'Standby' | transloco }}</span>
      </button>
      <button mat-menu-item
              (click)="onShutdown()">
        <i-tabler name="{{ icontabler.shutdown }}"></i-tabler>
        <span>{{ 'Shutdown' | transloco }}</span>
      </button>
    </ng-template>
  </mat-menu>

  <mat-menu #localeMenu="matMenu">
    <ng-template matMenuContent>
      <button *ngFor="let locale of locales | keyvalue"
              mat-menu-item
              [ngClass]="{'active': locale.key === currentLocale}"
              [disabled]="locale.key === currentLocale"
              (click)="onLocale(locale.key)">
        <span>{{ locale.value }}</span>
      </button>
    </ng-template>
  </mat-menu>

  <mat-menu #helpMenu="matMenu">
    <ng-template matMenuContent>
      <a class="omv-text-decoration-none"
         href="https://docs.openmediavault.org">
        <button mat-menu-item>
          <mat-icon svgIcon="{{ icon.docs }}"></mat-icon>
          <span>{{ 'Documentation' | transloco }}</span>
        </button>
      </a>
      <a class="omv-text-decoration-none"
         href="https://forum.openmediavault.org">
        <button mat-menu-item>
          <mat-icon svgIcon="mdi:forum"></mat-icon>
          <span>{{ 'Forum' | transloco }}</span>
        </button>
      </a>
      <a class="omv-text-decoration-none"
         href="https://www.openmediavault.org">
        <button mat-menu-item>
          <mat-icon svgIcon="mdi:web"></mat-icon>
          <span>{{ 'Homepage' | transloco }}</span>
        </button>
      </a>
      <mat-divider></mat-divider>
      <button mat-menu-item
              routerLink="/about">
        <mat-icon svgIcon="{{ icon.information }}"></mat-icon>
        <span>{{ 'About' | transloco }}</span>
      </button>
    </ng-template>
  </mat-menu>

    </mat-toolbar>
