@use 'scss/defaults/variables' as dv;
@use 'scss/theme';

.omv-top-bar {
  height: dv.$omv-top-bar-height;

  button .mat-icon {
    color: theme.$omv-color-primary-contrast;
  }

  .mat-divider {
    height: 24px;
    background-color: theme.$omv-color-primary-contrast;
  }

  .hostname {
    color: theme.$omv-color-primary-contrast;
    font-size: var(--mat-font-size-body-1);
    font-weight: var(--mat-font-weight-body-1);
    padding: dv.$omv-padding;
  }
}

.f-w-500 {
  font-weight: 500 !important;
}
.f-s-12 {
  font-size: 12px !important;
}
.p-y-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.p-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
