// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
// Sidebar
// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@

.sidenav {
  min-width: 265px !important;
  box-shadow: 0px 7px 30px 0px rgba(113, 122, 131, 0.11);
  border: 0;

  .list-group {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }

  .sidebar-menu {
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
  margin-top: -20px;

    &.activelink {
      background-color: #03c9d7 !important;
      color: #FFF !important;
    }
  }

  .buy-flexy {
    background-color: #fcf1ed;
    border-radius: 10px;
  }

}
